.message {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
}
.message.is_open {
  display: flex;
}
.message-panel {
  background-color: #ffffff;
  width: 20%;
  border-radius: 10px;
  height: 17vh;
  text-align: center;
  margin-top: 35vh;
}
.message-button {
  border: 0;
  background-color: white;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}
.message-img {
  height: 50px;
  width: 50px;
}
.message-texto {
  font-size: 15px;
  margin: 10px;
}

.message-condicional {
  background: #0c2eeb 0% 0% no-repeat padding-box;
  width: 50px;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  padding: 2px;

  margin-left: 5px;
  margin-right: 5px;
}

.divisor {
  width: 100%;
  height: 30px;
}
